@{
    ViewData["title"] = "Products Page";
}
@model List<Product>
<!-- Basic Bootstrap Table -->
<div class="card" style="width:95%; margin: 0 auto; margin-top:3rem; ">
    <h5 class="card-header">Product Table</h5>
    <div class="table-responsive text-nowrap">
        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Image</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Category</th>
                    <th>Cost Price</th>
                    <th>Sell Price</th>
                    <th>Quantity</th>
                    <th>Discount</th>
                    <th>Size</th>
                    <th>Color</th>
                    <th>Rating</th>
                    <th>Created Time</th>
                    <th>Update</th>
                    <th>Delete</th>
                    <th>Show/Hide</th>
                </tr>
            </thead>
            <tbody class="table-border-bottom-0">
                @foreach (var item in Model)
                {
                    <tr>
                        @{
                            int count = 0;
                            count++;
                        }
                        <td><strong>@count</strong></td>
                        <td>@item.Name</td>
                        <td>@item.CreatedTime</td>
                        <td scope="col">
                            <a class="btn btn-primary" asp-action="Update" asp-controller="Product" asp-route-id="@item.Id">
                                <i class="fa-solid fa-pen"></i>
                            </a>
                        </td>
                        <td scope="col">
                            <a class="btn btn-danger" asp-action="Delete" asp-controller="Product" asp-route-id="@item.Id">
                                <i class="fa-solid fa-trash"></i>
                            </a>
                        </td>
                        <td scope="col">
                            <a class="btn @(item.IsDeleted? "btn-warning" : "btn-secondary")"
                               asp-action="@(item.IsDeleted ? "Show" : "Hide")"
                               asp-controller="Product"
                               asp-route-id="@item.Id">
                                <i class="fa-solid @(item.IsDeleted ? "fa-eye" : "fa-eye-slash")"></i>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<!--/ Basic Bootstrap Table -->
